* {
  background-color: black;
  color: crimson;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-family: monospace;
  padding: 10px;
  background-color: aquamarine;
}

.nav1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: aquamarine;
}

.nav1 img {
  height: 30px;
}

.nav1 h6 {
  font-size: 17px;
  background-color: aquamarine;
}

.nav2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 55px;
  margin-right: 30px;
  background-color: aquamarine;
}

.nav2 h4 {
  font-size: 17px;
  width: 30px;
  background-color: aquamarine;
}

.nav2 h6 {
  display: none;
  background-color: aquamarine;
}

@media (max-width: 615px) {
  .nav2 h4 {
    display: none;
  }
  .nav2 h6 {
    display: inline-block;
    font-size: 20px;
  }

  .nav1 h6 {
    width: 20px;
  }
}
